/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

}

/* header */
header {
  background-color: black;
  padding: 20px 78px 34px 78px;
  position: absolute;
  /* body position:reletive */
  z-index: 2;
  width: 100%;
  /* position:absolute manually give width */

  /* overlay */
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%);

}



header .logo img {
  width: 79px;
  /* background-color: black; */
}



header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .fa-bars {
  display: none;
}

.navbar .menu {
  display: flex;
  list-style: none;
}



.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  padding: 10px 8px;
  margin: 0 20px;
}


.navbar li:last-child a {
  padding-right: 0;
}

.navbar li a {
  transition: color ease-in 0.3s;
}

.navbar li a:hover {
  color: #f70142;
}

.navbar li.active a {
  border-bottom: 2px solid #f70142;
}

/* hero */
.hero {
  /* width: 100%; */
  /* max-height: 100vh; */
  position: relative;
  height: 100vh;
  /* overflow: hidden; */
  display: none;
}

.hero img {
  width: 100%;
}

.hero-info {
  position: absolute;
  /* method 1*/
  /* top: 50%;
  left: 78px;
  transform: translateY(-50%); */

  /* method 2 */
  top: 0;
  left: 78px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* outline: 1px solid red; */
  max-width: 405px;
}

.hero-info a {
  /* method-2 */
  max-width: fit-content;
  display: inline-block;
}

.hero-info h1 {
  color: #fff;
  font-size: 74px;
  font-weight: 900;
  margin-bottom: 28px;
}

.hero .hero-info h1 span {
  font-size: 38px;
  font-weight: 400;
  display: block;
  line-height: 74px;
}

.hero-info p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 28px;
}

.hero .hero-info .cta-btn {
  background: #f70142;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 24px;
  transition: background-color ease 0.5s;
}

.hero .hero-info .cta-btn:hover {
  background-color: black;
}

.hero .swiper-pagination {
  bottom: 120px;
  background-color: blueviolet;
  /* method 1 */
  /* text-align: right;
  left: auto;
  right: 78px; */
  text-align: right;
  padding-right: 78px;

}

.hero .swiper-pagination .swiper-pagination-bullet {
  width: 23px;
  height: 23px;
  background: transparent;
  border: 2px solid #fff;
  opacity: 1;
  outline: none;
}

.hero .swiper-pagination .swiper-pagination-bullet-active {
  border: 2px solid #f70142;
}